body {
  background-color: rgb(167, 214, 255);
  padding-top: 60px;
}
h1 {
  text-align: center;
  margin-left: 180px;
  color: rgb(198, 129, 0);
}
ul {
  /* margin-right: 100px; */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul li {
  margin-left: 10px;
  line-height: 1.4;
  list-style: none;
  font-size: 1.3rem;
}
ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.811);
}
ul li a:hover {
  color: rgb(205, 0, 0);
}
@media (max-width: 500px) {
  ul {
    display: flex;
    flex-direction: column;
  }
  h1 {
    margin: 0;
    text-align: start;
  }
}
